// Colors

$gold: #dcbb8a;
$lightGold: #f3e7d5;


// Include parts of Bootstrap

$grid-columns:                12 !default;
$grid-gutter-width:           10px !default;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;


@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

body {
	font-synthesis: none;
	-webkit-font-feature-settings: 'kern';
	font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
//	font-family: 'Roboto', sans-serif;
}